/* General */

#loader-wrapper{
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    position: fixed;
    z-index:999999;
    background-color:grey;
    transform: translate(-50%,-50%);
}

#loader-wrapper img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

body{
    background-color:#808080;
    background-attachment: fixed;
}
#app{
display: flex;
justify-content: center;
}

.container-fluid{
padding: 0;
margin:0 0;
width: 100%;
}

.container{
width: 100%;
}

#RemoveSpace{
margin: 0;
padding: 0;
}

#TextIndent{
text-indent: initial;
}

#itemcenter{
display: flex;
justify-content: center;
text-align: center;
}

h2 span{
font-family: 'Oxygen', sans-serif;
}

p{
font-family: 'Oxygen', sans-serif;
}

/* End General */
/* Navbar */
.navbar-nav{
display:flex;
justify-content: center;
}

.nav-item{
font-weight: bolder;
text-transform: uppercase;
}

.nav-link::after{
content: '';
display: block;
width: 0;
height: 2px;
background:black;
transition:width .3s
}

.nav-link:hover::after{
width: 100%;
transition:width .3s;
}


/* Style the border */
.border{
width: 80px;
height: 10px;
background-color :#3f0d12;
background-image :linear-gradient(315deg, #3f0d12 0%, #800000 74%);
/* margin:20px auto; */
}

#ItemStart{
justify-content: center;
align-items: center;
}

#ItemEnd{
justify-content: flex-end;
align-items: flex-end;
}
/* End Navbar */
/* Header */
.bgImg{
    height: auto;
    width: 100%;
    object-fit: cover;
}

/* #Home{
background: url(../img/v3Home.gif)no-repeat center center fixed;
height: auto;
width: 100%;
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size:100% auto;
background-size: 100% 100%;
} */

/* 
.header .header-content{
height: 100vh;
width:100%;
text-align: left;           
display: flex;
justify-content: center;
flex-direction: column;
} */

/* EndHeader */
/* About */
#About{
    background-color:#808080;
}

#AbtImg{
    overflow: hidden;
}

#AbtImg img{
transition:0.75s;
}

#AbtImg:hover img{
    transform: scale(1.2);
} 

#About .item{
 display: flex;
 justify-content: center;
}

@media only screen and (min-width:600px){
#About .item img{
    width: 100%;
    height: 300px;
}
}

@media only screen and (max-width:600px){
#About .item img{
    width: 100%;
    height: auto;
}
}


.img-modal{
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    /* width: 80%;
    max-width: 700px; */
    /* Add Animation */
    -webkit-animation-name:zoom;
    -webkit-animation-duration: 0,6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close{
    /* position:absolute; */
    top:100px;
    right: 35px;
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/* 100% image width on Smaller Screens */
@media only screen and (max-width:700px){
    .modal-content{
        width: 100%;
    }
}

@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1);}
}
/* End About */
/* Services */
#Services{
    padding: 10vh;
    background-image: url(../img/Web-03.png);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
            
/* End Services */
/* Projects */
#Projects{
    background-color:	#808080;
    background-attachment: fixed;
}

.column{
float:left;
width:25%;
padding:0 10px;
}

#ColumnDirection{
display:flex;
flex-direction: column;
}

#OneLineText{
white-space: nowrap;
}

#RelativePosition{
position: relative;
width: 100%;
}

.projectimg{
opacity:1;
display:block; 
width: 100%;
height: 300px;
backface-visibility: hidden;
object-fit: cover;
}

.middle{
transition:0.5s ease;
opacity: 0;
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

#RelativePosition:hover .projectimg{
opacity:0.3;
}

#RelativePosition:hover .middle{
opacity:1;
}

#Projects img.card-img-top {
/* object-fit: cover; */
border:1px solid black;

}

#card-title{
/* text-transform: uppercase; */
color:#6F1E51;
font-weight: bold;
}

#more{
color:#535c68;
}

#more:hover {
color:#6F1E51;
}
/* End Projects */

/* Contacts */
#Contacts{
padding: 10vh;
background-image: url(../img/Web-03.png);
background-attachment: fixed;
background-size: 100vw 100vh;
background-repeat: no-repeat;
}
/* ratio 16:9 is */
/* ratio 16:9 (100%/16*9 = 56.25%) */
.iframe-container{
position: relative;
width:100%;
height: 400px;
/* padding-bottom:56.25%; */
}

/*  * is select all */
/*  > is select all element where are the parent is iframe-container */
.iframe-container > *{
display: block;
position: absolute;
margin:0;   
height:100%;
width:100%; 
}

/* #Contacts h3{
font-size:100%;
}

#Contacts p{
font-size:80%;
} */

form{
padding: 20px 30px 20px 0px; 
width: 100%;
resize: both;
overflow: auto;
}

form label{
    font-size:100%;
}

form input{
    font-size:100%;
}
/* End Contacts */

        